---
layout: default
section: adventure
quotes:
  - text: "It is not down on any map;<br />true places never are."
    author: "Herman Melville"
  - text: "One's destination is never a place, but<br />rather a new way of looking at things."
    author: "Henry Miller"
  - text: "A good traveler has no fixed plans and<br />is not intent upon arriving."
    author: "Laozi"
  - text: "For always roaming with a hungry heart,<br />Much have I seen and known."
    author: "Alfred Tennyson"
---

<!-- Banner -->
<section id="banner" class="major">
  <div class="inner">
    <header class="major">
      <h1>
        {% assign quote = page.quotes[1] %}
        {{ quote.text }} <small>{{ quote.author }}</small>
      </h1>
    </header>
    <div class="content">
      <p>
        These are my adventures abroad,<br />
        by which I broaden my horizons.
      </p>
      <ul class="actions">
        <!-- <li><a href="#one" class="button next scrolly">My Latest Adventures</a></li> -->
        <li><a href="https://goo.gl/photos/jZ1FUFuEwoAWeDsJA" target="_blank" class="button next scrolly">My Latest Adventures</a></li>
      </ul>
    </div>
  </div>
</section>


<div id="main">
  <section id="one" class="tiles">
    {% for collection in site.collections limit:1000 %}

      <a id="{{ collection.label }}"></a>
      {% for item in collection.docs reversed %}

        {% capture date %}{{ item.date | date: '%B %Y' }}{% endcapture %}
        <article>
          {% if item.splash %}
            {% if item.splash.url contains 'http' %}{% else %}
              {% capture presplash %}{{ site.baseurl }}{% endcapture %}
            {% endif %}
            <span class="image">
              <img src="{{ presplash }}{{ item.splash.url }}" alt="{{ item.splash.alt }}" />
            </span>
          {% endif %}

          <header class="">
            <h3><a href="{{ site.baseurl }}{{ item.url }}" class="link">{{ item.title }}</a></h3>
            <p>{{ item.date | date:'%b %d' }}</p>
          </header>
        </article>

      {% endfor %}
    {% endfor %}
  </section>
</div>
