---
title: 'Horizons++'
---
<!DOCTYPE html>
<html>
<head>
  <title>Horizons++{% if page.title and page.url != '/index.html' %} | {{ page.title }}{% endif %}</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
  <link rel="shortcut icon" href="{{site.baseurl}}/img/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css" />
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/mine.css" />
</head>
<body>
  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Header -->
    <header id="header" class="alt">
      <a href="{{ site.baseurl }}/" class="logo"><strong>Horizons</strong> <span>++</span></a>
      <nav>
        <a href="#menu">Menu</a>
      </nav>
    </header>

    <!-- Menu -->
    <nav id="menu">
      <ul class="links">
        {% for collection in site.collections %}
          {% if collection.label != 'posts' %}
            <li><a href="{{ site.baseurl }}/#{{ collection.label }}">{{ collection.label }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>

    <!-- Main -->
    {{ content }}

    <!-- Footer -->
    <footer id="footer">
      <div class="inner">
        <ul class="icons">
          <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
          <li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
        </ul>
        <ul class="copyright">
          <li>&copy; 2016 Katie Russ</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>
    </footer>
  </div>

  <!-- Scripts -->
  <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/jquery.scrolly.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/jquery.scrollex.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/util.js"></script>
  <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
  <script src="{{ site.baseurl }}/assets/js/main.js"></script>
    <!-- <script src='{{site.baseurl}}/site.js'></script> -->
</body>
